.MasterRow{
  display:flex;
}
.MasterTiles{
  width: 40px;
  height:40px;
  padding: 4px;
  margin: 4px;
  background: lightgrey;
}

#red {
  width: 40px;
  height:40px;
  background: red;
}

#blue {
  width: 40px;
  height:40px;
  background: blue;
}

#green {
  width: 40px;
  height:40px;
  background: green;
}

#yellow {
  width: 40px;
  height:40px;
  background: yellow;
}

#orange {
  width: 40px;
  height:40px;
  background: orange;
}

.MasterCheckTiles{
  width: 22px;
  height:40px;
  margin-top: 8px;
  margin-bottom: 8px;
  background: lightgrey;
}

.CheckTiles{
  width: 10px;
  height:10px;
  padding: 3px;
  margin: 3px;
  background: darkgrey;
}

#redChecker {
  width: 10px;
  height:10px;
  background: red;
}
