.row{
  display:flex;
}
.tile{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  padding: 5px;
  margin: 5px;
  line-height: 50px;
  background: lightgrey;
}
/*.tile0{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: lightgrey;
}
.tile2{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,255,0);
}
.tile4{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,200,0);
}
.tile8{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,150,0);
}
.tile16{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,100,0);
}
.tile32{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,50,0);
}
.tile64{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,0);
}
.tile128{
  font-size: 30px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,50);
}
.tile256{
  font-size: 30px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,100);
}
.tile512{
  font-size: 30px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,150);
}
.tile1024{
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,200);
}
.tile2048{
  color: white;
  font-size: 50px;
  text-align: center;
  width: 50px;
  height:50px;
  line-height: 50px;
  padding: 5px;
  margin: 5px;
  background: rgb(255,0,255);
}*/
